#
# Pinned Python dependencies used in our Docker-based development environment.
#
# NOTE: This lock file does NOT include FEniCS/DOLFIN (provided by the Docker image).
#

numpy==1.26.4
scipy==1.12.0
matplotlib==3.5.3
pandas==2.3.0
h5py==3.11.0
pyyaml==5.4.1
meshio==5.3.4
gmsh==4.11.1


